{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Smoke Signal plugin for Craft CMS 3.x
 *
 * Smoke Signal index.twig
 *
 * @author    Marbles
 * @copyright Copyright (c) 2020 Marbles
 * @link      https://www.marbles.be/
 * @package   SmokeSignal
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("marbles\\smokesignal\\assetbundles\\smokesignal\\SmokeSignalAsset") %}
{% do view.registerAssetBundle("marbles\\smokesignal\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Smoke Signal" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('smoke-signal') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@marbles/smokesignal/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('smoke-signal') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('smoke-signal') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
